--find-links=https://girder.github.io/large_image_wheels
GDAL
geopandas
rasterio
fiona
shapely
pyproj
rasterstats
leafmap
osmnx
networkx
openpyxl
pandas
numpy
plotly
altair
seaborn
streamlit
streamlit-folium
streamlit-option-menu
psycopg2-binary
localtileserver
earthengine-api
geemap
folium