--find-links=https://girder.github.io/large_image_wheels GDAL
geemap
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
streamlit
streamlit-option-menu
streamlit-folium
psycopg2-binary
fiona
networkx
openpyxl 
osmnx
pandas
folium
rasterstats
pandas
geopandas
folium
streamlit
streamlit-folium
openpyxl
pandas
altair
plotly
seaborn